{% block body %}
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>Connecticut</title>
</head>

<div class="container">
    <body>
    <center>
    <h1>Connecticut Town Guide</h1>
       <h5>
           For more information on Connecticut towns and their records, see: Melnyk, Marcia D. Genealogist's Handbook for New England Research, 4th ed., Boston: NEHGS, 1999 Morrison, Betty Jean. Connecting To Connecticut, East Hartford: Connecticut Society of Genealogists, 1995.
       </h5>
    <h5>Kemp, Thomas Jay. Connecticut Researcher's Handbook, Detroit: Gale Research Co., 1981.</h5>
    <h2>
        {% for letter in alphabet %}
            <a href="#{{ letter }}">{{ letter }}</a>
        {% endfor %}
        </h2>
    </center>
     {% for letter in alphabet %}
         <h2>
             <a name="{{ letter }}" id="{{ letter }}"></a>{{ letter }} (<a href="#top">back to top</a>)
		 </h2>
         <table class="table table-striped table-bordered table-hover table-responsive">
            <thead><tr>
                      <th>Name</th>
                      <th>Established</th>
                      <th>County</th>
                      <th>Parent Town(s)</th>
                      <th>Other Names</th>
                      <th>Related Databases</th>
            </tr></thead>
           <tbody>
             {% for entry in dictionary %}
             {% if letter == entry['dbLetter'] %}
                 <tr>
                 <td><a id="{{ entry['name']|lower }}"></a>{{ entry['name'] }}</td>
                 <td>{{ entry['date'] }}</td>
                 <td>{{ entry['county'] }}</td>
                 <td>{{ entry['parentTown'] }}</td>
                 <td>{{ entry['otherNames']|safe }}</td>
                 <td>{% for db in entry['relatedDB'] %}
                        {{ db|safe }}<br>
                     {% endfor %}
                 </td>
                 </tr>
             {% endif %}
             {% endfor %}
           </tbody>
         </table>
     {% endfor %}
  </body>

</div>
{% endblock %}